.userIcon {
  width: 40px;
}

.mainWrapper {
  display: flex;
  width: 33.333%;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

}

.currentUserWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

}
.currentUser {
  opacity: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.336);
  position: absolute;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(40px, -50%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.247);
  transition: all .5s ease;
}
.currentUserWrapper:hover .currentUser {
  opacity: 1;
}
