.loginForm {
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);
  padding: 20px;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin:auto;
}

.formWrapper {
  text-align: center;


}

.heading {
  font-size: 20px;
  margin-bottom: 20px;
}
.label {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 5px 5px;
  font-size: 16px;
}