$logoColor: #fff;

.container {
  align-items: center;
  width: 33.333%;
  display: flex;
  justify-content: center;
}
.logoWrapper {
  width: 80px;
  text-align: center;
  margin-bottom: 22px;
  height: 80px;
  position: relative;
  cursor: pointer;
}
.logoSquare {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 1px solid $logoColor;
}
.logoSquare:last-child {
  right: -7px;
  top: 7px;
}
.logoText {
  color: $logoColor;
  font-size: 14px;
  font-weight: 600;
  margin-right: 3px;
}

.logoSquare:first-child {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}
