.articles_title {
  text-align: center;
}
.articles_back_button {
  background-color: wheat;
  border: 1px solid;
}
.suggested_button {
  background-color: turquoise;
  border: 1px solid;
}
.comments {
  background-color: antiquewhite;
  text-align: center;
}
.articlesErapper {
  text-align: center;
}
.suggArticlesWrapper {
  text-align: center;
}
.formWrapper {
  text-align: center;
}
.form {
  display: inline-flex;
  flex-direction: column;
}
.email {
  min-width: 200px;
  display: inline-flex;
  margin-bottom: 5px;
}
