$primaryColor: #27707c;

.headerWrapper {
  z-index: 2;
  top: 0;
  position: fixed;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  background-color: $primaryColor;
  margin-bottom: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: auto;
}
.errorMessage {
  text-align: center;
  font-size: 40px;
}
