$navColor: #fff;
$navactiveColor: #0af4ff;


.navigation {
  text-align: center;
}

.navItem {
  color: $navColor;
  text-decoration: none;
  font-size: 22px;
}

.active {
  color: $navactiveColor;
  font-weight: 600;
}

.navItem:first-child {
  margin-right: 10px;
}
